@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f4f4f4; */
  background: linear-gradient(90deg, #C7C5F4, #007bff);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#homecontrol .container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  max-width: 700px;
}

.clock-container {
  text-align: center;
  margin-bottom: 10px;
}

.setting-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.setting-label {
  margin-right: 10px;
  color: #333;
}

.setting-input {
  width: 60px;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.setting-checkbox {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.5);
}

.time-input {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.setting-button {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px;
}
.setting-number {
  width: 5%;
  text-align: center;
}
.setting-button:hover {
  background-color: #0056b3;
}

#clock-display {
  font-size: 43px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

#selected-settings {
  margin-top: 20px;
  font-weight: bold;
  color: #28a745;
}

.mode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mode-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.mode-container button:hover {
  background-color: #218838;
}

.mode-select {
  width: 150px;
  /* Điều chỉnh độ rộng của ô chọn mode */
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
}

option {
  padding: 5px;
}

#settings-container {
  display: grid;
  gap: 5px;
}

.settings-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* Khoảng cách giữa các dropdown */
  margin-bottom: 20px;
  padding-top: 20px;
  /* background-color: white; */
  /* border-radius: 10px; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

select {
  padding: 10px;
  width: 100%;
  /* Dropdown chiếm toàn bộ chiều rộng của ô container */
  border: 1px solid #ccc;
  /* Đường viền */
  border-radius: 10px;
  /* Góc bo tròn */
}

.mode-section {
  margin-bottom: 10px;
  text-align: center;
}

.mode-section label {
  font-weight: bold;
  margin-right: 10px;
}

.empty-space {
  width: 20px;
  /* Điều chỉnh kích thước theo mong muốn */
}

.table-row {
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  background-color: #3498db;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: space-between;
  /* width: 500px; */
  /* Độ rộng của hàng */
  /* height: 30px; */
  /* Chiều cao của hàng */
}

.table-cell {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
  /* Căn giữa theo chiều dọc */
  width: 100%;
}

/* Chỉ định độ dài cụ thể cho từng ô */
.table-cell:nth-child(1) {
  /* grid-area: 2; */
  width: 5%;
  /* Độ rộng cho ô Giờ */
}

.table-cell:nth-child(2) {
  /* grid-area: 1; */
  width: 25%;
  /* Độ rộng cho ô Chu kì */
}

.table-cell:nth-child(3) {
  /* grid-area: 2; */
  width: 20%;
  /* Độ rộng cho ô Mode */
}

.table-cell:nth-child(4) {
  /* grid-area: 1;   */
  width: 20%;
  /* Độ rộng cho ô Kích hoạt */
}

.table-cell:last-child {
  width: 17%;
  border-right: none;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3498db;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.btn-cell {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
  width: 100%;
}
.btn-setting-row {
  display: flex;

}
.btn-id {
  /* padding-top: 10px; */
  top: 10px;
  left: -26px;
}
.btn-number {
  padding: 85% 0;
}
#homecontrol {
  height: 100%;
}
#wifisetup {
  background-color: #fff;
  padding: 20px;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  max-width: 700px;
}

.btn-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

#login-page .container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #3498db);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #007bff;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #007bff, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #007bff;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	color: #007bff;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.toggle-password {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}